body, ul, li, p{
    margin: Opx;
    padding: Opx;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}

/* Define o tamanho da imagem do logo - largura */
.logo{
    width: 300px;
}

/* Define as características da TAG ancor */
a{
    text-decoration: none;    /* tira o sublinhado do link */
    color: white;           /* cor do texto */
}

/* Define as características do header */
.header{
    /* cor de fundo */
    background-color: rgb(255, 174, 208);
    /* display flexível */
    display: flex;
    /* organizado em linha */
    flex-wrap: wrap;
    /* espaçamento entre os textos */
    justify-content: space-between;
    /* centralizado */
    align-items: center;
    /* "margem interna" */
    

}

.menu{ 
    display: flex;
}

/*distancia entre as palavras do link */
.menu li{ 
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    /* background-color: #5e17eb; */
}

/* *************************** FAZENDO CORPO DE SITE ********************** */

.flex{
    min-height: 100vh;
    background-color: rgb(238, 198, 205);
    display: flex;
    flex-direction: column;

}
/* ajustando o tamanho da imagem */

.imagem{
    width: 400px;
    height: auto;
}

/* ajustando os itens da página */

.item{
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-start;
    border: 2px solid black;
    margin: 10px;
}

.paragrafo{
    padding: 10px;
    text-align: justify;
}
/* Ajustando o cabeçalho */

.footer{
    background-color: rgb(241, 234, 234);
    padding: 15px;
    color: black;
    font-size: 30px;
}

.redessociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redelogo{
    margin: 10px;
    padding: 5px;
    width: 30px;
    height: auto;
}