body, ul, li, p{
    margin: Opx;
    padding: Opx;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}

/* Define o tamanho da imagem do logo - largura */
.logo{
    width: 200px;
}

/* Define as características da TAG ancor */
a{
    text-decoration: none;    /* tira o sublinhado do link */
    color: white;           /* cor do texto */
}

/* Define as características do header */
.header{
    /* cor de fundo */
    background-color: rgb(252, 167, 203);
    /* display flexível */
    display: flex;
    /* organizado em linha */
    flex-wrap: wrap;
    /* espaçamento entre os textos */
    justify-content: space-between;
    /* centralizado */
    align-items: center;
    /* "margem interna" */
    

}

.menu{ 
    display: flex;
}

/*distancia entre as palavras do link */
.menu li{ 
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    /* background-color:
}